BESU_RPC_URL=http://192.168.100.1:8545,http://192.168.100.2:8545
BESU_CHAIN_ID=1337
BOZKETA_PRIVATE_KEY=replace-with-server-transaction-signer-private-key
BOZKETA_CONTRACT_ADDRESS=replace-with-deployed-bozketa-contract-address
BOZKETA_ABI_PATH=app/static/abi/bozketa.abi
FLASK_SECRET_KEY=replace-with-random-secret
BOZKETA_PUBLIC_URL=http://bozketa.localhost
SMTP_SERVER=mailserver
SMTP_PORT=25
SMTP_SENDER=bozketa@blockchain.tkn.eus
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_SSL=false
SMTP_USE_STARTTLS=false
